/venv/
/UnTube/client_secrets.json
/db.sqlite3
/apps/main/migrations/
/apps/users/migrations/
/modules/t.json
/modules/you.py
/modules/youtube-api.py
/modules/youtube-api-oauth.py
/.idea/
__pycache__/
*.log
*.pot
*.pyc
/static/
.env

