asgiref==3.4.1
bleach==4.0.0
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.4
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.17
django-allauth==0.44.0
django-appconf==1.0.4
django-classy-tags==2.0.0
django-cms==3.8.0
django-crispy-forms==1.11.2
django-filer==2.0.2
django-formtools==2.3
django-js-asset==1.2.2
django-mptt==0.12.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-storages==1.11.1
django-treebeard==4.5.1
djangocms-admin-style==2.0.2
djhtml==1.4.9
python-dotenv>=0.8
easy-thumbnails==2.7.1
ecdsa==0.14.1
google-api-core==1.28.0
google-api-python-client==2.7.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gunicorn==20.1.0
httplib2==0.19.1
humanize==3.10.0
idna==2.10
install==1.3.4
isodate==0.6.0
jsonfield==3.1.0
numpy==1.22.2
packaging==20.9
pandas==1.3.1
Pillow==9.0.1
protobuf==3.17.1
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.4.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-jose==3.2.0
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.16.0
sqlparse==0.4.2
Unidecode==1.1.2
uritemplate==3.0.1
urllib3==1.26.5
webencodings==0.5.1
whitenoise==5.2.0
mysqlclient