
                <div class="offcanvas-body text-white-50">
                    <div id="video-notes-status-div" class="text-white">

                    </div>
                    <div id="video-notes-form">
                          <div class="form-group text-white">
                            <h1>Your Notes</h1>
                                                  <br>

                            <textarea name="video-notes-text-area" class="form-control bg-dark text-white-50" placeholder="Enter here..." id="video-notes-text-area" rows="17">{{ video.user_notes }}</textarea>
                          </div>
                    </div>
                    <br>
                    <button type="button" hx-post="{% url 'video_notes' playlist_id video.video_id %}" hx-include="[id='video-notes-form']" hx-target="#video-notes-status-div" class="btn btn-success">Save</button>

                    <br>
                </div>
    