
{% extends 'base.html' %}
{% block content %}


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3">
            <h1 class="h2"> <span style="border-bottom: 3px #e24949 dashed;" class="pt-3">Playlists Tagged as</span> <kbd>{{ tag.name }}</kbd> <span class="badge bg-warning rounded-pill">{{ playlists.count }}</span> </h1>

        </div>

        {% if playlists %}
            <input  class="form-control border border-secondary" type="text"
               name="search" placeholder="Begin to search tagged playlists..."
               hx-post="{% url 'search_tagged_playlists' tag.name %}"
               hx-trigger="keyup changed delay:700ms"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator"
            aria-describedby="searchHelp">
            <div id="searchHelp" class="form-text">For a more extensive tagged playlist search and filtering, <a href="{% url 'search' %}?mode=playlists&tag={{ tag.name }}">click here</a>.</div>

          <br>

        <div id="search-results" class="row row-cols-1 row-cols-md-4 g-4">
            {% include 'intercooler/playlists.html' with show_controls=True %}
        </div>
        {% else %}
              <div class="card bg-dark text-white mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-center h3">
                    Nothing here!
                </div>
                <div class="d-flex justify-content-center h5">
                    You did create this tag but none of the playlists in your collection are currently tagged with this.
                </div>
            </div>
            </div>

        {% endif %}
        <br>

{% endblock %}