
{% extends 'base.html' %}
{% block content %}

    <div id="search-results">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3">
            <h1 class="h2"> <span style="border-bottom: 3px #ffffff dashed;" class="pt-3">Playlists Tagged as</span> <kbd>{{ tag.name }}</kbd> <span class="badge bg-warning rounded-pill">{{ playlists.count }}</span></h1>

        </div>

        {% if playlists %}
        <div class="">
            <input   class="form-control border border-secondary" type="text"
       name="search" placeholder="Begin to search playlists..."
       hx-post="{% url 'search_tagged_playlists' tag.name %}"
       hx-trigger="keyup changed delay:500ms"
       hx-target="#search-results"
       hx-indicator=".htmx-indicator">
          <br>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for playlist in playlists %}
                <div class="col">
                    <div class="card" style="background-color: #515355;">
                        <a style="background-color: #1A4464;" href="{% url 'playlist' playlist.playlist_id %}" class="list-group-item list-group-item-action text-white-50" aria-current="true">

                            <div class="card-body">

                                <h5 class="card-title text-white">
                                    {{ playlist.name }}

                                </h5>
                                <p class="card-text">
                                    {% if playlist.is_user_owned %}<small><span class="badge bg-light text-black-50">OWNED</span></small>{% else %}<small><span class="badge bg-light text-black-50">IMPORTED</span></small>{% endif %}

                                    {% if playlist.is_private_on_yt %}<small><span class="badge bg-secondary text-white">Private</span></small> {% endif %}
                                    {% if playlist.is_from_yt %}<small><span class="badge bg-danger text-black-50">YT</span></small> {% endif %}

                                </p>
                                <small>
                                    <span class="badge bg-primary rounded-pill">{{ playlist.video_count }} videos</span>
                                    <span class="badge bg-primary rounded-pill">{{ playlist.playlist_duration }} </span>
                                </small>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}


        </div>
        {% else %}
              <div class="card bg-dark text-white mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-center h3">
                    Nothing here!
                </div>
                <div class="d-flex justify-content-center h5">
                    You did create this tag but none of the playlists in your collection are currently tagged with this.
                </div>
            </div>
            </div>

        {% endif %}
        <br>
    </div>

{% endblock %}